html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
img,
ol,
ul,
li,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  color: inherit;
    }

input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

button:focus,
button:active {
  border: none;
  box-shadow: none;
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}