html {
    font-size: $font-size-base;
  }
  
  .page {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
  }
  
  .container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
  }
  
  .page__container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 5px;
    box-sizing: content-box;
  }